<html data-theme='cupcake'>
  <body tabindex=' -1'>
    <div class='bg-base-100 drawer'>
      <div class='drawer'>
        <div
          class='drawer-content overflow-auto'
          style='scroll-behavior: smooth; scroll-padding-top: 5rem;'
        >
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
